.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1224px;
  width: 100%;
  margin: 0 auto;

  padding: 24px;
}

.nav a {
  color: '#8257e5';
}

.content {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 24px;
  color: '#555';
}

.content h2 {
  margin-bottom: 24px;
}

.content p {
  margin: 24px 0;
}